.App {
  text-align: center;
  display: flex;
}

.component {
  margin-right: 200px;
}

.component:first-child {
  padding-left: 200px;
}

.component:last-child {
  margin-right: 0px;
}

body{
  background-color: beige;
}

/* .moving-div {
  position: absolute;
  animation: moveLeft 10s linear infinite;
} */

@keyframes moveLeft {
  0% {
      right: 0; /* Starting position */
  }
  100% {
      right: 100%; /* Ending position (move to the right end) */
  }
}