.App {
  text-align: center;
  display: flex;
  /*overflow: hidden;*/
}

.component {
  margin-right: 200px;
}

.componentPlayer {
  margin-right: 100px;
}

.component:first-child {
  padding-left: 200px;
}

.floatingSquare {
  margin-top: -80px;
}

.component:last-child {
  margin-right: 0px;
}

body{
  background-color: beige;
}

.component {
  /* background-color: #3498db; */
  transform: translateX(-100px);
}