.App {
  text-align: center;
  display: flex;
}

.component {
  margin-right: 300px;
}

.component:first-child {
  padding-left: 200px;
}

.component:last-child {
  margin-right: 0px;
}

body{
  background-color: beige;
}

