.moving-container {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
}

.moving-component {
  display: inline-block;
  width: 50px; /* Adjust the width based on your preference */
  height: 50px; /* Adjust the height based on your preference */
  background-color: #3498db; /* Adjust the background color based on your preference */
  margin-right: 400px; /* Adjust the spacing between components based on your preference */
  animation: moveLeft 5s linear infinite; /* Adjust the animation duration based on your preference */
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
