body {
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.score {
  font-family: "Inconsolata";
  font-size: 30px;
  height: 10vh;
  line-height: 10vh;
  background-color: blueviolet;
  display: flex;
}

.text {
  vertical-align: middle;
}

#high{
  margin-left: 50px;
}

p {
  margin: 0px;
}
  
.player {
  width: 10vw;
  height: 14vh;
  background-image: url(assets/baseform.gif);
  background-size: 10vw 14vh ;
  position: relative;
  top: 70vh;
  border: 1px solid black;
}

.playerGuggolas{
  width: 10vw;
  height: 14vh;
  background-image: url(assets/baseform.gif);
  background-size: 10vw 14vh ;
  position: relative;
  top: 76vh;
}
  
.jump {
  animation: jump 1s linear;
}
  
@keyframes jump {
  0% {
    top: 70vh;
  }

  10% {
    top: 62vh;
  }

  20% {
    top: 54vh;
  }
  
  30% {
    top: 46vh;
  }

  40% {
    top: 38vh;
  }
  
  50% {
    top: 30vh;
  }

  60% {
    top: 38vh;
  }

  70% {
    top: 46vh;
  }
  
  80% {
    top: 54vh;
  }

  90% {
    top: 62vh;
  }
  
  100% {
    top: 70vh;
  }
}
  
.kicsi {
  width: 8vw;
  height: 10vh;
  position: relative;
  top: 58vh;
  left: 100vw;
  background-image: url(assets/fa2.png);
  background-size: 8vw 10vh;
  border: 1px solid black;
}

.nagy{
  width: 10vw;
  height: 15vh;
  position: relative;
  top: 55vh;
  left: 100vw;
  background-image: url(assets/fa1.png);
  background-size: 10vw 15vh;
  border: 1px solid black;
}

.lebego{
  width: 10vw;
  height: 10vh;
  position: relative;
  bottom: -53vh;
  left: 100vw;
  background-image: url(assets/felho.png);
  background-size: 10vw 10vh;
  border: 1px solid black;
}


.flexDiv{
  display: flex;
}

#star{
  width: 9vw;
  height: 10vh;
  position: relative;
  top: 59vh;
  left: 100vw;
  background-image: url(assets/fagyi.png);
  background-size: 9vw 10vh;
  border: 1px solid black;
}

.starGlide{
  animation: starGlide 4s infinite linear;
}

@keyframes starGlide{
  0% {
    left: 100vw;
  }
  
  100% {
    left: -12vw;
  }
}

.block {
  animation: block 4s infinite linear;
}

@keyframes block {
  0% {
    left: 100vw;
  }
  
  100% {
    left: -5vw;
  }
}