.game {
  width: 1000px;
  height: 550px;
  border: 1px solid black;
  margin: auto;
}

.score {
  font-family: "Inconsolata";
}
  
#player {
  width: 80px;
  height: 90px;
  background-image: url(assets/trex.png);
  background-size: 80px 90px;
  position: relative;
  top: 410px;
}
  
.jump {
  animation: jump 1s linear;
}
  
@keyframes jump {
  0% {
    top: 440px;
  }
  
  30% {
    top: 132px;
  }
  
  50% {
    top: 220px;
  }
  
  80% {
    top: 352px;
  }
  
  100% {
    top: 440px;
  }
}
  
#obstacle {
  width: 40px;
  height: 70px;
  position: relative;
  top: 340px;
  left: 980px;
  background-image: url(assets/cactus.png);
  background-size: 40px 70px;
}
  
.block{
  animation: block 5s infinite linear;
}

@keyframes block {
  0% {
    left: 980px;
  }
  
  100% {
    left: -5px;
  }
}