.ellipse {
    clip-path: ellipse(50px 100px);
    background-color: blueviolet;
    position: relative; left: 80px;
}

.container { 
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
}


