.conatiner {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
}

.score {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}


